<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>框架布局页面</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap 3.3.6 -->
    @*<link href="~/Scripts/AdminLTE-With-Iframe/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Scripts/bootstrap3.3.6/css/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Scripts/AdminLTE-With-Iframe/dist/css/font-awesome.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Scripts/AdminLTE-With-Iframe/dist/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Scripts/AdminLTE-With-Iframe/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins -->
    <link href="~/Scripts/AdminLTE-With-Iframe/dist/css/skins/all-skins.css" rel="stylesheet" />
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script src="~/Scripts/bootstrap3.3.6/bootstraptreegrid/js/bootstrap3.3.7.min.js"></script>*@

    <link href="~/Scripts/layuiV245/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layuiV245/layui.js"></script>


    <link href="~/Scripts/AdminLTE-With-Iframe/plugins/Toast/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/AdminLTE-With-Iframe/plugins/Toast/toastr.min.js"></script>

    @*loading*@
    <link href="~/Scripts/AdminLTE-With-Iframe/plugins/loading/animate.css" rel="stylesheet" />
    <link href="~/Scripts/AdminLTE-With-Iframe/plugins/loading/global.css" rel="stylesheet" />
    <link href="~/Scripts/AdminLTE-With-Iframe/plugins/loading/loading.css" rel="stylesheet" />
    <script src="~/Scripts/AdminLTE-With-Iframe/plugins/loading/loading.js"></script>


    <script src="~/Scripts/plugins/jquery.formhelp.js"></script>

    <style>
        body {
            font-size: 14px;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
